a {
  color: black;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
}

header nav {
  padding-right: 40px;
}

nav span {
  display:inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;

}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;

}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {

  width: 630px;

}

.top.story{

  }


.top.story span {

}

.top.story p {

}

.middle.story {

  display: flex;
  flex-direction: column;
  width: 300px;
}

.middle.story h2 {

  font-size: 30px;
}

.middle.story p {

}

.middle.story span {

}

.bottom.story {

  display: flex;
  flex-direction: column;
  width: 300px;
}

.bottom.story h2 {

  font-size: 30px;
}

.bottom.story p {

}

.bottom.story span {

}

.column.medium {

  width: 300px;
  display: flex;
}

.FBI {

}

.FBI h2 {

  font-size: 30px;
}

.FBI p {

}

.cats {

}

.cats span {
  }

.cats p {
}

.column.small {
  width: 240px;
  display: flex;
}

.cookie.image {
  width: 240px;
}

.news h3 {

}

.news p {

}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
  flex-direction: column;
}

.top.story .image-content {
  background-image: url(../images/img-story-main.png);
  width:630px;
  font-size: 40px;
  text-align: left;
}

.middle.story .image-content {
  background-image: url(../images/img-story-2.png);
}

.bottom.story .image-content {
  background-image: url(../images/img-story-3.png);
}

.cats .image-content {
  background-image: url(../images/img-story-1.png);
}

.stories {
  display: flex;
  justify-content: space-around;
}
