a {
  color: black;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
}

header nav {
  padding-right: 40px;
}

nav span {
  display:inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;

}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  border: 1px solid black;
  width: 630px;
  display: flex;

}

.top.story span {
  border: 1px solid black;
}

.top.story p {
  border: 1px solid black;
}

.middle.story {
  border: 1px solid black;
}

.middle.story h2 {
  border: 1px solid black;
}

.middle.story p {
  border: 1px solid black;
}

.middle.story span {
  border: 1px solid black;
}

.bottom.story {
  border: 1px solid black;
}

.bottom.story h2 {
  border: 1px solid black;
}

.bottom.story p {
  border: 1px solid black;
}

.bottom.story span {
  border: 1px solid black;
}

.column.medium {
  border: 1px solid black;
  width: 300px;
  display: flex;
}

.FBI {
  border: 1px solid black;
}

.FBI h2 {
  border: 1px solid black;
}

.FBI p {
  border: 1px solid black;
}

.cats {
  border: 1px solid black;
}

.cats span {
  border: 1px solid black;
}

.cats p {
  border: 1px solid black;
}

.column.small {
  border: 1px solid black;
  width: 240px;
  display: flex;
}

.cookie.image {
  border: 1px solid black;
  width: 240px;
}

.news h3 {
  border: 1px solid black;
}

.news p {
  border: 1px solid black;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  display: flex;
}

.top.story .image-content {
  background-image: url(../images/img-story-main.png);
  width:630px;
  font-size: 40px;
}

.middle.story .image-content {
  background-image: url(../images/img-story-2.png);
  text-align: center;
}

.bottom.story .image-content {
  background-image: url(../images/img-story-3.png);
  text-align: center;
}

.cats .image-content {
  background-image: url(../images/img-story-1.png);
  text-align: center;
}
